In [4]:
import pandas as pd
import numpy as np

filename='macaqueLCL_pos_ALL.bed'
dr = '/home/azstephe/immunetacit/repos/lcl_cnn/data'
log_same_size = pd.read_csv(f'{dr}/random_log_10525/macaqueLCL_pos_ALL.bed', header=None, sep='\t')
log_all = pd.read_csv(f'{dr}/log/macaqueLCL_pos_ALL.bed', header=None, sep='\t')
log_sorted = pd.read_csv(f'{dr}/log_sorted/macaqueLCL_pos_ALL.bed', header=None, sep='\t')
qn = pd.read_csv(f'{dr}/random_log_10525/quantile_norm/macaqueLCL_pos_ALL.bed', header=None, sep='\t')
notIncluded = macAll[20615:]

sortedIncluded = log_sorted[~log_sorted[3].isin(notIncluded[3])].reset_index(drop=True)

notIncluded.columns = range(notIncluded.shape[1])
sortedIncluded.columns = range(log_sorted.shape[1])

def find_closest(row, sortedIncluded):
    closest_idx = (sortedIncluded[4] - row[4]).abs().idxmin() # get index with closest value
    return sortedIncluded.loc[closest_idx, 3] # keep peak name of that index

# adds column with closest peak in the included random list
notIncluded = notIncluded.copy()
notIncluded.loc[:, 'closest_col3'] = notIncluded.apply(lambda row: find_closest(row, sortedIncluded), axis=1)
# not Included has the closest peakName

# clean up the df 
df1 = notIncluded.copy()
df2 = qn.copy()
df1 = df1.merge(df2[[3, 4]], left_on='closest_col3', right_on=3, how='left')

df1.drop(columns=['closest_col3', '3_y', '4_x'], inplace=True)
df1.rename(columns={'3_x': 3, '4_y': 4}, inplace=True)

# merge to the final concatenated df with all peaks and their associated signal values
ladderQN = pd.concat([macQN, df1]).reset_index(drop=True)
# ladderQN.to_csv(f'{dr}/ladder_qn/{filename}', header=None, index=False, sep='\t')
ladderQN

           0          1          2          3         4
0      chr17   94187125   94187625  peak26675  1.598160
1       chr2  154286878  154287378  peak13912  2.056028
2      chr13   64477584   64478084  peak14443  2.170016
3       chr4   67418632   67419132  peak13046  2.028152
4       chr2   10782576   10783076  peak24988  1.419530
...      ...        ...        ...        ...       ...
21323  chr11   52542852   52543352  peak31414       NaN
21324  chr11   15691580   15692080  peak31415       NaN
21325   chr1  103918336  103918836  peak31416       NaN
21326  chr10   57784123   57784623  peak31417       NaN
21327  chr10   26670496   26670996  peak31418       NaN

[21328 rows x 5 columns]

In [57]:
filename='macaque_liver_pos_ALL.bed'
dr = '/home/azstephe/liverRegression/regression_liver/data'
log_same_size = pd.read_csv(f'{dr}/log_same_size/{filename}', header=None, sep='\t')
log_all = pd.read_csv(f'{dr}/log/{filename}', header=None, sep='\t')
log_sorted = pd.read_csv(f'{dr}/log_sorted/{filename}', header=None, sep='\t')
qn = pd.read_csv(f'{dr}/quantile_norm/{filename}', header=None, sep='\t')
notIncluded = log_all[20615:]

sortedIncluded = log_sorted[~log_sorted[3].isin(notIncluded[3])].reset_index(drop=True)

notIncluded.columns = range(notIncluded.shape[1])
sortedIncluded.columns = range(log_sorted.shape[1])

def find_closest(row, sortedIncluded):
    closest_idx = (sortedIncluded[4] - row[4]).abs().idxmin() # get index with closest value
    return sortedIncluded.loc[closest_idx, 3] # keep peak name of that index

# adds column with closest peak in the included random list
notIncluded = notIncluded.copy()
notIncluded.loc[:, 'closest_col3'] = notIncluded.apply(lambda row: find_closest(row, sortedIncluded), axis=1)
# not Included has the closest peakName

# clean up the df 
df1 = notIncluded.copy()
df2 = qn.copy()
df1 = df1.merge(df2[[3, 4]], left_on='closest_col3', right_on=3, how='left')

df1.drop(columns=['closest_col3', '3_y', '4_x'], inplace=True)
df1.rename(columns={'3_x': 3, '4_y': 4}, inplace=True)

# merge to the final concatenated df with all peaks and their associated signal values
ladderQN = pd.concat([macQN, df1]).reset_index(drop=True)
ladderQN.to_csv(f'{dr}/ladder_qn/{filename}', header=None, index=False, sep='\t')
ladderQN

          0          1          2          3         4
0      chr1     227138     227638  peak24046  2.565659
1      chr1     245240     245740  peak49485  2.126956
2      chr1     883200     883700  peak73240  1.887896
3      chr1    1326486    1326986  peak32882  2.314572
4      chr1    1383910    1384410  peak46008  2.105109
...     ...        ...        ...        ...       ...
32692  chrX  147603718  147604218  peak85037  1.814884
32693  chrX  148052244  148052744  peak36907  2.352356
32694  chrX  148945845  148946345  peak99320  1.401891
32695  chrX  148946092  148946592  peak45808  2.435257
32696  chrY    4903405    4903905  peak39296  2.561076

[32697 rows x 5 columns]

In [58]:
filename='mouse_liver_pos_ALL.bed'
dr = '/home/azstephe/liverRegression/regression_liver/data'
log_same_size = pd.read_csv(f'{dr}/log_same_size/{filename}', header=None, sep='\t')
log_all = pd.read_csv(f'{dr}/log/{filename}', header=None, sep='\t')
log_sorted = pd.read_csv(f'{dr}/log_sorted/{filename}', header=None, sep='\t')
qn = pd.read_csv(f'{dr}/quantile_norm/{filename}', header=None, sep='\t')
notIncluded = log_all[20615:]

sortedIncluded = log_sorted[~log_sorted[3].isin(notIncluded[3])].reset_index(drop=True)

notIncluded.columns = range(notIncluded.shape[1])
sortedIncluded.columns = range(log_sorted.shape[1])

def find_closest(row, sortedIncluded):
    closest_idx = (sortedIncluded[4] - row[4]).abs().idxmin() # get index with closest value
    return sortedIncluded.loc[closest_idx, 3] # keep peak name of that index

# adds column with closest peak in the included random list
notIncluded = notIncluded.copy()
notIncluded.loc[:, 'closest_col3'] = notIncluded.apply(lambda row: find_closest(row, sortedIncluded), axis=1)
# not Included has the closest peakName

# clean up the df 
df1 = notIncluded.copy()
df2 = qn.copy()
df1 = df1.merge(df2[[3, 4]], left_on='closest_col3', right_on=3, how='left')

df1.drop(columns=['closest_col3', '3_y', '4_x'], inplace=True)
df1.rename(columns={'3_x': 3, '4_y': 4}, inplace=True)

# merge to the final concatenated df with all peaks and their associated signal values
ladderQN = pd.concat([qn, df1]).reset_index(drop=True)
ladderQN.to_csv(f'{dr}/ladder_qn/{filename}', header=None, index=False, sep='\t')
ladderQN

          0          1          2          3         4
0      chr1    3368827    3369327      peak1  2.386340
1      chr1    3369075    3369575      peak2  1.642901
2      chr1    3416045    3416545      peak3  3.121654
3      chr1    3416436    3416936      peak4  1.656152
4      chr1    3423147    3423647      peak5  3.005890
...     ...        ...        ...        ...       ...
22037  chrX  169903661  169904161  peak22037  2.296627
22038  chrX  169904084  169904584  peak22038  1.437991
22039  chrX  169906007  169906507  peak22040  1.699199
22040  chrX  169906208  169906708  peak22041  2.146231
22041  chrY   90732061   90732561  peak22042  2.342861

[22042 rows x 5 columns]

In [61]:
filename='rat_liver_pos_ALL.bed'
dr = '/home/azstephe/liverRegression/regression_liver/data'
log_same_size = pd.read_csv(f'{dr}/log_same_size/{filename}', header=None, sep='\t')
log_all = pd.read_csv(f'{dr}/log/{filename}', header=None, sep='\t')
log_sorted = pd.read_csv(f'{dr}/log_sorted/{filename}', header=None, sep='\t')
qn = pd.read_csv(f'{dr}/quantile_norm/{filename}', header=None, sep='\t')
notIncluded = log_all[20615:]

sortedIncluded = log_sorted[~log_sorted[3].isin(notIncluded[3])].reset_index(drop=True)

notIncluded.columns = range(notIncluded.shape[1])
sortedIncluded.columns = range(log_sorted.shape[1])

def find_closest(row, sortedIncluded):
    closest_idx = (sortedIncluded[4] - row[4]).abs().idxmin() # get index with closest value
    return sortedIncluded.loc[closest_idx, 3] # keep peak name of that index

# adds column with closest peak in the included random list
notIncluded = notIncluded.copy()
notIncluded.loc[:, 'closest_col3'] = notIncluded.apply(lambda row: find_closest(row, sortedIncluded), axis=1)
# not Included has the closest peakName

# clean up the df 
df1 = notIncluded.copy()
df2 = qn.copy()
df1 = df1.merge(df2[[3, 4]], left_on='closest_col3', right_on=3, how='left')

df1.drop(columns=['closest_col3', '3_y', '4_x'], inplace=True)
df1.rename(columns={'3_x': 3, '4_y': 4}, inplace=True)

# merge to the final concatenated df with all peaks and their associated signal values
ladderQN = pd.concat([qn, df1]).reset_index(drop=True)
ladderQN.to_csv(f'{dr}/ladder_qn/{filename}', header=None, index=False, sep='\t')
ladderQN

          0          1          2          3         4
0      chr1     173538     174038      peak1  1.226861
1      chr1     174637     175137      peak2  3.364961
2      chr1     666289     666789      peak3  1.894127
3      chr1     669647     670147      peak4  1.519623
4      chr1    1211602    1212102      peak5  2.156749
...     ...        ...        ...        ...       ...
21526  chrX  158803306  158803806  peak21527  2.814624
21527  chrX  159133863  159134363  peak21528  2.235233
21528  chrX  159615079  159615579  peak21529  2.554057
21529  chrY     984255     984755  peak21530  2.531966
21530  chrY    2116003    2116503  peak21531  2.353203

[21531 rows x 5 columns]

In [65]:
filename='cow_liver_pos_ALL_chromName.bed'
dr = '/home/azstephe/liverRegression/regression_liver/data'
log_same_size = pd.read_csv(f'{dr}/log_same_size/{filename}', header=None, sep='\t')
log_all = pd.read_csv(f'{dr}/log/{filename}', header=None, sep='\t')
log_sorted = pd.read_csv(f'{dr}/log_sorted/cow_liver_pos_ALL.bed', header=None, sep='\t')
qn = pd.read_csv(f'{dr}/quantile_norm/{filename}', header=None, sep='\t')
notIncluded = log_all[20615:]

sortedIncluded = log_sorted[~log_sorted[3].isin(notIncluded[3])].reset_index(drop=True)

notIncluded.columns = range(notIncluded.shape[1])
sortedIncluded.columns = range(log_sorted.shape[1])

def find_closest(row, sortedIncluded):
    closest_idx = (sortedIncluded[4] - row[4]).abs().idxmin() # get index with closest value
    return sortedIncluded.loc[closest_idx, 3] # keep peak name of that index

# adds column with closest peak in the included random list
notIncluded = notIncluded.copy()
notIncluded.loc[:, 'closest_col3'] = notIncluded.apply(lambda row: find_closest(row, sortedIncluded), axis=1)
# not Included has the closest peakName

# clean up the df 
df1 = notIncluded.copy()
df2 = qn.copy()
df1 = df1.merge(df2[[3, 4]], left_on='closest_col3', right_on=3, how='left')

df1.drop(columns=['closest_col3', '3_y', '4_x'], inplace=True)
df1.rename(columns={'3_x': 3, '4_y': 4}, inplace=True)

# merge to the final concatenated df with all peaks and their associated signal values
ladderQN = pd.concat([qn, df1]).reset_index(drop=True)
ladderQN.to_csv(f'{dr}/ladder_qn/{filename}', header=None, index=False, sep='\t')
ladderQN

          0          1          2          3         4
0      chr1      49330      49830      peak1  1.392728
1      chr1      49661      50161      peak2  2.561289
2      chr1     202592     203092      peak3  2.827463
3      chr1     278975     279475      peak4  2.190099
4      chr1     378406     378906      peak5  1.961838
...     ...        ...        ...        ...       ...
25801  chrX  150242083  150242583  peak25802  1.859676
25802  chrX  150243036  150243536  peak25803  2.926636
25803  chrY    2561222    2561722  peak25804  3.446555
25804  chrY    4990119    4990619  peak25805  2.325825
25805  chrY    4990338    4990838  peak25806  2.839533

[25806 rows x 5 columns]