In [2]:
# getting true mouse weak, medium, strong peaks
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
import numpy as np

species='mouse'

val_df = pd.read_csv(f'/home/azstephe/liverRegression/regression_liver/data/splits/logPos/{species}_liver_VAL.narrowPeak', header=None, delim_whitespace=True)
train_df = pd.read_csv(f'/home/azstephe/liverRegression/regression_liver/data/splits/logPos/{species}_liver_TRAINONLY.narrowPeak', header=None, delim_whitespace=True)

true_pos_df = pd.concat([val_df, train_df]).reset_index(drop=True)
true_pos_df

          0          1          2          3         4
0      chr8    3215633    3216133  peak19386  2.256366
1      chr8    3227452    3227952  peak19387  1.676408
2      chr8    3256127    3256627  peak19389  1.293518
3      chr8    3256437    3256937  peak19388  1.658577
4      chr8    3313760    3314260  peak19390  1.640423
...     ...        ...        ...        ...       ...
18261  chrX  169903661  169904161  peak22037  2.146267
18262  chrX  169904084  169904584  peak22038  1.171128
18263  chrX  169906007  169906507  peak22040  1.404790
18264  chrX  169906208  169906708  peak22041  1.965940
18265  chrY   90732061   90732561  peak22042  2.200690

[18266 rows x 5 columns]

In [27]:
# 2p5 read as 2 point 5
greater_than_2p5 = true_pos_df[true_pos_df[4]>2.5][3].to_frame()
greater_than_2p5.to_csv('/home/azstephe/liverRegression/regression_liver/data/mouse_strength/mouse_greater_than_2p5_peaklist.csv', sep='\t', header=None, index=False)

less_than_1p4 = true_pos_df[true_pos_df[4]<1.4][3].to_frame()
less_than_1p4.to_csv('/home/azstephe/liverRegression/regression_liver/data/mouse_strength/mouse_less_than_1p4_peaklist.csv', sep='\t', header=None, index=False)

between_1p4_2 = true_pos_df[(true_pos_df[4]>1.4) & (true_pos_df[4]<2)][3].to_frame()
between_1p4_2.to_csv('/home/azstephe/liverRegression/regression_liver/data/mouse_strength/mouse_between_1p4_2_peaklist.csv', sep='\t', header=None, index=False)

In [4]:
true_pos_df[(true_pos_df[4]>=2) & (true_pos_df[4]<=2.5)][3].to_frame()

               3
0      peak19386
6      peak19392
13     peak19399
18     peak19404
20     peak19406
...          ...
18254  peak22031
18257  peak22034
18258  peak22035
18261  peak22037
18265  peak22042

[5321 rows x 1 columns]